<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdx97.blog.mapper.ArticleDetailMapper">

    <select id="getByArticleId" resultType="com.xdx97.blog.bean.entity.ArticleDetail">
        SELECT * FROM xdx_article_detail WHERE article_id = #{articleId}
    </select>
</mapper>