<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdx97.blog.mapper.ArticleCatgMapper">

    <insert id="testInsert">
        INSERT INTO xdx_article_catg  ( name )  VALUES  ( #{name} )
    </insert>

    <select id="listByParentId" resultType="com.xdx97.blog.bean.vo.ArticleCatgVO">
        SELECT
            xac.id,
            xac.parent_id,
            xac.name,
            xac.status,
            xac.sort,
            IFNULL(COUNT(xam.id), 0) articleCount
        FROM xdx_article_catg xac
        LEFT JOIN xdx_article_main xam ON xac.id = xam.catg_id
        WHERE 1 = 1
        AND xac.parent_id = #{parentId}
        <if test="query.name != null and query.name != ''">
            AND xac.name LIKE CONCAT('%',#{query.name},'%')
        </if>
        <if test="query != null and query.status != null">
            AND xac.status = #{query.status.code}
        </if>
        GROUP BY xac.id
        ORDER BY xac.sort DESC
    </select>
</mapper>